{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>Edit Entry</h1>
{% endblock page_header %}

{% block content %}

  <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

  <form action="{% url 'learning_logs:edit_entry' entry.id %}" class="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Save Changes</button>
    {% endbuttons %}

  </form>
  
{% endblock content %}

